<div class="quizz__container">
	<div class="quizz__title">
		<h2>{{ title }}</h2>
	</div>
	<div *ngIf="!finished" class="quizz__questions">
		<h3>{{ questionSelected.question }}</h3>
	</div>
	<div *ngIf="!finished" class="quizz__options">
		<button
			*ngFor="let option of questionSelected.options"
			(click)="playerChoose(option.alias)"
			class="btn-option"
		>
			{{ option.name }}
		</button>
	</div>
	<div *ngIf="finished" class="quizz__results">
		<h2>O Seus resultado é:</h2>
		<p>{{ answerSelected }}</p>
	</div>
</div>
